.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: flex;

    &:hover,
    &:focus {

      .card-news__image {
        opacity: .5;
      }

      .card-news__heading {
        color: $color-royal-blue;
      }

      .card-news__box {
        display: inline-block;
        background: rgba(0, 0, 0, 0.5);
        line-height: 0;
      }

      .card-news__slogan {
        visibility: visible;
        opacity: 1;
      }
    }


    &--size-xl {
      grid-column: 1 / -1;
    }

    @include vp-767 {
      grid-column: none;
    }
  }
}